   *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    --pink: #751d14;
    --gold: #D4AF37;
    --dark: #1a0a0a;
    --transition: 0.35s ease;
  }


 
  #mobile-menu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all ease-in-out 0.4s;
  border-radius: 20px;
}

#mobile-menu.menu-open {
  max-height: 400px;
  transition: all ease-in-out 0.4s;
  backdrop-filter: blur(8px);
  opacity: 1;
}

  /* ... (Existing styles) ... */

  /* Modal Show State (via JS) */
  #successModal:not(.hidden) #modalContent {
    transform: scale(1);
    opacity: 1;
  }