
h1, h2 {
    font-family: 'Playfair Display', serif;
}

/* Custom Input Focus Shadow */
input:focus {
    box-shadow: 0 4px 6px -1px rgba(128, 0, 0, 0.05);
}
/* Modal Animation State */
#loginModal:not(.hidden) #loginModalContent {
    transform: scale(1);
    opacity: 1;
}

/* Add a smooth blur to the background when login happens */
.backdrop-blur-sm {
    backdrop-filter: blur(4px);
}